[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://githubtocolab.com/CU-Denver-MathStats-OER/ODEs/blob/main/Chp1/00-Introduction.ipynb)

# <a name="intro">Fundamentals of Working with Data </a>
---

Understanding the data types of the variables in our data set, and the structure of our data is crucial before we can identify what aspects might need to be cleaned and transformed so we can perform statistical analysis more efficiently.


This notebook is intended to be a brief overview of some fundamentals of working with data in R.

- [How to save and display output of from commands?](#assign)
- [What are the basic data types?](#data-types)
- [How to convert data types?](#change-type)
- [What are the data structures in R?](#structures)
- How to [create](#create-df) or [import a data frame](#importing)?
- [How to slice and extract rows and columns of a data frame](#extract)?

These topics are important. This notebook just scratches the surface on many concepts. If you do not find a complete answer here, there are free resources online that dig deeper and more completely. Below is one such recommended reference.

- [Programming with R Guide to Data Types and Structures](https://swcarpentry.github.io/r-novice-inflammation/13-supp-data-structures/)


## <a name="load">Loading Packages with the `library()` Command</a>
---


To explore some fundamentals of working with data in R, we will use the `storms` data set which is located in the package `dplyr`.

-   The `dplyr` package is already installed in Google Colaboratory
-   We still need to use a `library` command to load the package.
-   <font color="dodgerblue">**Run the code cell below to load the `dplyr` package.**</font>

In [ ]:
# load the library of functions and data in dplyr
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

## <a name="help">Help Documentation</a>
---

The functions introduced in this document have robust help documentation with lots of options to customize. If you want to view help documentation for any of the functions used in this document, run commands such`?typeof`, `?is.numeric`, `?read.table`, and so on.

In [ ]:
# access help documentation for storms
?storms  # side panel should open with help manual for storms

In [ ]:
# access help documentation for typeof
?typeof

# <a name="know-data">Getting to Know Our Data</a>
---

The package `dplyr` contains a data set called `storms`. Let’s find some
useful information about this data.

-   The code cell below will provide a numeric summary of all variables in the `storms` data.
-   Recall we need to first run the command `library(dplyr)` in the code cell above to be able to access `storms`.

In [ ]:
# get a numerical summary of all variables
summary(storms)

     name                year          month             day
 Length:19066       Min.   :1975   Min.   : 1.000   Min.   : 1.00
 Class :character   1st Qu.:1993   1st Qu.: 8.000   1st Qu.: 8.00
 Mode  :character   Median :2004   Median : 9.000   Median :16.00
                    Mean   :2002   Mean   : 8.699   Mean   :15.78
                    3rd Qu.:2012   3rd Qu.: 9.000   3rd Qu.:24.00
                    Max.   :2021   Max.   :12.000   Max.   :31.00

      hour             lat             long                         status
 Min.   : 0.000   Min.   : 7.00   Min.   :-109.30   tropical storm     :6684
 1st Qu.: 5.000   1st Qu.:18.40   1st Qu.: -78.70   hurricane          :4684
 Median :12.000   Median :26.60   Median : -62.25   tropical depression:3525
 Mean   : 9.094   Mean   :26.99   Mean   : -61.52   extratropical      :2068
 3rd Qu.:18.000   3rd Qu.:33.70   3rd Qu.: -45.60   other low          :1405
 Max.   :23.000   Max.   :70.70   Max.   :  13.50   subtropical storm  : 292
                                                    (Other)            : 408
    category          wind           pressure      tropicalstorm_force_diameter
 Min.   :1.000   Min.   : 10.00   Min.   : 882.0   Min.   :   0.0
 1st Qu.:1.000   1st Qu.: 30.00   1st Qu.: 987.0   1st Qu.:   0.0
 Median :1.000   Median : 45.00   Median :1000.0   Median : 110.0
 Mean   :1.898   Mean   : 50.02   Mean   : 993.6   Mean   : 146.3
 3rd Qu.:3.000   3rd Qu.: 65.00   3rd Qu.:1007.0   3rd Qu.: 220.0
 Max.   :5.000   Max.   :165.00   Max.   :1024.0   Max.   :1440.0
 NA's   :14382                                     NA's   :9512
 hurricane_force_diameter
 Min.   :  0.00
 1st Qu.:  0.00
 Median :  0.00
 Mean   : 14.81
 3rd Qu.:  0.00
 Max.   :300.00
 NA's   :9512

## <a name="na">Missing Data</a>
---

A <font color="dodgerblue">**missing value**</font> occurs when the value of something isn’t known. R uses the special object `NA` to represent missing value. If you have a missing value, you should represent that value as `NA`. Note: The character string `"NA"` is not the same thing as `NA`.

-   The `storms` data has properly coded 14,382 missing values for `category` since storms that are not hurricanes do not have a category.
-   The `storms` data has properly coded 9,512 missing values for each of `tropicalstorm_force_diameter` and `hurricane_force_diameter` since these value only began being recorded in 2004.

# <a name="assign">Assignment to New (or Existing) Objects</a>
---

To store a data structure in the computer’s memory we must assign it a
name.

Data structures can be stored using the assignment operator `<-` or `=`.

Some comments:

-   In general, both `<-` and `=` *can* be used for assignment.
-   `<-` and `=` can be used identically most of the time, but not always.
-   <font color="dodgerblue">**It’s safer and more conventional to use `<-` for assignment**</font>.

In the following code, we compute the mean of a vector. **Why can’t we
see the result after running it**?

In [ ]:
w <- storms$wind  # wind is now stored in w
xbar.w <- mean(w)  # compute mean wind speed and assign to xbar.w

-   Once an object has been assigned a name, it can be printed by
    executing the name of the object.

In [ ]:
xbar.w  # print the mean wind speed to screen

[1] 50.01741

-   We can also print an object to screen using the `print()` function.

In [ ]:
print(xbar.w)  # print the mean with print() command

[1] 50.01741

-   We can calculate, assign, and print the result by putting
    parenthesis around the assignment.

In [ ]:
# calculate, assign, and print standard deviation
(s <- sd(w))  # note ( ) around the entire command

[1] 25.50103

-   **Sometimes you want to see the result of a code cell, and sometimes
    you will not.**

# <a name="data-types">Basic Data Types</a>
---

R has 6 basic [data
types](https://cran.r-project.org/doc/manuals/r-release/R-lang.html#Basic-types):

1.  <font color="dodgerblue">**character**</font>: collections of characters. E.g., `"a"`, `"hello world!"`
2.  <font color="dodgerblue">**double**</font>: decimal numbers. e.g., `1.2`, `1.0`
3.  <font color="dodgerblue">**integer**</font>: whole numbers. In R, you must add `L` to the end of a number to specify it as an integer. E.g., `1L` is an integer but `1` is a double.
4.  <font color="dodgerblue">**logical**</font>: Boolean values, `TRUE` and `FALSE`
5.  <font color="dodgerblue">**complex**</font>: complex numbers. E.g., `1+3i`
6.  <font color="dodgerblue">**raw**</font>: a type to hold raw bytes.

## <a name="typeof">Checking Data Type Using `typeof()`</a>
---

-   The `typeof()` function returns the R internal type or storage mode of any object.

In [ ]:
typeof(1.0)
typeof(2)
typeof(3L)
typeof("hello")
typeof(TRUE)
typeof(storms$status)
typeof(storms$year)
typeof(storms$name)

[1] "double"

[1] "double"

[1] "integer"

[1] "character"

[1] "logical"

[1] "integer"

[1] "double"

[1] "character"

## <a name="is-data-type">Investigating Data Types with `is.numeric()`</a>
---

-   The `is.numeric(x)` function tests whether or not an object `x` is  numeric.
-   The `is.character(x)` function test whether `x` is a character or not.
-   The `is.factor(x)` function test whether `x` is a factor or not.
-   <font color="dodgerblue">**Note: Categorical data is  typically stored as a `factor` in R.**</font>

In [ ]:
is.numeric(storms$year)  # year is numeric
is.numeric(storms$category)  # category is also numeric
is.numeric(storms$name)  # name is not numeric
is.character(storms$name)  # name is character string

[1] TRUE

[1] TRUE

[1] FALSE

[1] TRUE

In [ ]:
is.numeric(storms$status)  # status is not numeric
is.character(storms$status)  # status is not a character
is.factor(storms$status)  # status is a factor which is categorical

[1] FALSE

[1] FALSE

[1] TRUE

-   The function `str(x)` provides information about the levels or classes of factor variable `x`.

In [ ]:
str(storms$status)

## <a name="change-type">Changing Data Types</a>
---

### <a name="factor">Converting to Categorical Data with `factor()`</a>
---

-   Sometimes we think a variable is one data type, but it is actually being stored (and thus interpreted by R) as a different data type.
-   One common issue is categorical data is stored as characters. We would like observations with the same values to be group together.
-   The `status` variable in `storms` is being properly stored as a `factor`!
-   The `category` variable in `storms` is being stored as a `numeric` since it is ordinal.
-   With ordinal categories, we may choose to keep it stored as `numeric`, or we may prefer to treat them as factors.

In [ ]:
summary(storms$category)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
  1.000   1.000   1.000   1.898   3.000   5.000   14382

-   The summary of `category` computes statistics such as mean and
    median.
-   Typically with categorical data, we prefer to count how many
    observations are in each class of the variable.
-   In the code cell below, we convert `category` to a factor, and then
    observe the resulting summary.

In [ ]:
storms$category <- factor(storms$category)
summary(storms$category)

    1     2     3     4     5  NA's
 2478   973   579   539   115 14382

### <a name="as.type">Converting Data Types with `as.numeric()`, `as.integer()`, etc.</a>
---

From the summary of the `storms` data set we first found above, we see that the variables `year` and `month` are being stored as `double`. These variables actually are integer values.

We can convert another variable of one format into another format using `as.[new_datatype]()`

-   For example, to convert to year to `integer`, we use `as.integer(storms$year)`.
-   To convert a data type to character, we can use `as.character(x)`.
-   To convert to a decimal (`double`), we can use `as.numeric(x)`

In [ ]:
typeof(storms$year)
typeof(storms$month)
storms$year <- as.integer(storms$year)
storms$month <- as.integer(storms$month)
typeof(storms$year)
typeof(storms$month)

[1] "double"

[1] "double"

[1] "integer"

[1] "integer"

# <a name="structures">Data Structures</a>
---

R operates on <font color="dodgerblue">**data
structures**</font>. A data structure is simply some sort of “container”
that holds certain kinds of information

R has 5 basic data structures:

-   <font color="dodgerblue">**vector**</font>: One dimensional object of a single data type.
-   <font color="dodgerblue">**matrix**</font>: Two dimensional object of a single data type.
-   <font color="dodgerblue">**array**</font>: $n$ dimensional object of a single data type.
-   <font color="dodgerblue">**data frame**</font>: Two dimensional object where each column can be a
    different data type.
-   <font color="dodgerblue">**list**</font>: An object that contains elements of different types like (and possibly another list inside it).

[See R
documentation](https://cran.r-project.org/doc/manuals/r-release/R-lang.html#List-objects)
for more info.

## <a name="vector">Vectors</a>
---

A <font color="dodgerblue">**vector**</font> is a
single-dimensional set of data of the same type.

### <a name="create-vector">Creating Vectors from Scratch</a>
---

The most basic way to create a vector is the combine function `c`. The following commands create vectors of type numeric, character, and logical, respectively.

In [ ]:
x1 <- c(1, 2, 5.3, 6, -2, 4)
x2 <- c("one", "two", "three")
x3 <- c(TRUE, TRUE, FALSE, TRUE)
x4 <- c(TRUE, 3.4, "hello")
typeof(x1)
typeof(x2)
typeof(x3)
typeof(x4)

-   We can check the data structure of an object using commands such as
    `is.vector()`, `is.list()`, `is.matrix()`, and so on.

In [ ]:
is.list(x1)
is.vector(x1)
is.list(x4)
is.vector(x4)

## <a name="data-frame">Data Frames</a>
---

<font color="dodgerblue">**Data frames**</font> are
two-dimensional data objects and are the **fundamental** data structure
used by most of R’s libraries of functions and data sets.

-   Tabular data is <font color="dodgerblue">**tidy**</font> if each row corresponds to a different observation and column corresponds to a different variable.

Each column of a data frame is a <font color="dodgerblue">**variable**</font> (stored as a **vector**).
If the variable:

-   Is measured or counted by a number, it is a <font color="dodgerblue">**quantitative**</font> or <font color="dodgerblue">**numerical**</font> variable.
-   Groups observations into different categories or rankings, it is a <font color="dodgerblue">**qualitative**</font> or <font color="dodgerblue">**categorical**</font> variable.

### <a name="create-df">Creating Data Frames from Scratch</a>
---

Data frames are created by passing vectors into the `data.frame()` function.

The names of the columns in the data frame are the names of the vectors you give the `data.frame` function.

Consider the following example:

In [ ]:
# create basic data frame
d <- c(1, 2, 3, 4)
e <- c("red", "white", "blue", NA)
f <- c(TRUE, TRUE, TRUE, FALSE)
df <- data.frame(d,e,f)
df

  d e     f
1 1 red    TRUE
2 2 white  TRUE
3 3 blue   TRUE
4 4 NA    FALSE

### <a name="name-col">Naming Column Headers</a>
---

The columns of a data frame can be renamed using the `names()` function on the data frame.

In [ ]:
# name columns of data frame
names(df) <- c("ID", "Color", "Passed")
df

  ID Color Passed
1 1  red    TRUE
2 2  white  TRUE
3 3  blue   TRUE
4 4  NA    FALSE

The columns of a data frame can be named when you are first creating the
data frame by using `[new_name] = [orig_vec_name]` for each vector of
data.

In [ ]:
# create data frame with better column names
df2 <- data.frame(ID = d, Color = e, Passed = f)
df2

  ID Color Passed
1 1  red    TRUE
2 2  white  TRUE
3 3  blue   TRUE
4 4  NA    FALSE

## <a name="check-structure">Checking Data Structure</a>
---

-   The `is.matrix(x)` function tests whether or not an object `x` is a matrix.
-   The `is.vector(x)` function test whether `x` is a vector.
-   The `is.data.frame(x)` function test whether `x` is a data frame.

In [ ]:
is.matrix(df)
is.vector(df)
is.data.frame(df)

[1] FALSE

[1] FALSE

[1] TRUE

# <a name="extract">Extracting and Slicing Data Frames</a>
---

## <a name="extract-name">Extracting a Column By Name</a>
---

The column vectors of a data frame may be extracted using `$` and
specifying the name of the desired vector.

-   `df$Color` would access the `Color` column of data frame `df`.

In [ ]:
df$Color  # prints column of data frame df named Color

[1] "red"   "white" "blue"  NA

## <a name="indexing">Slicing Rows and Columns By Indexing</a>
---

Part of a data frame can also be extracted by thinking of at as a
general matrix and specifying the desired rows or columns in square
brackets after the object name.

-   <font color="dodgerblue">**Note R starts with index 1 which is different from Python which indexes starting from 0.**</font>

For example, if we had a data frame named `df`:

-   `df[1,]` would access the first row of `df`.
-   `df[1:2,]` would access the first two rows of `df`.
-   `df[,2]` would access the second column of `df`.
-   `df[1:2, 2:3]` would access the information in rows 1 and 2 of columns 2 and 3 of `df`.

In [ ]:
df[,2]  # second column is Color

[1] "red"   "white" "blue"  NA

In [ ]:
df[2,]  # second row of df

  ID Color Passed
2 2  white TRUE

In [ ]:
df[1:2,2:3]  # first and second rows of columns 2 and 3

  Color Passed
1 red   TRUE
2 white TRUE

If you need to select multiple columns of a data frame by name, you can
pass a character vector with column names in the column position of
`[]`.

-   `df[, c("ID", "Passed")]` would extract the `ID` and `Passed` columns of `df`.

In [ ]:
df[, c("ID", "Passed")]

  ID Passed
1 1   TRUE
2 2   TRUE
3 3   TRUE
4 4  FALSE

In [ ]:
df[, c(1, 3)]  # another we to pick columns 1 and 3

  ID Passed
1 1   TRUE
2 2   TRUE
3 3   TRUE
4 4  FALSE

In [ ]:
# another we to pick columns 1 and 3
df[, -2]  # exclude column 2

  ID Passed
1 1   TRUE
2 2   TRUE
3 3   TRUE
4 4  FALSE

# <a name="importing">Importing an External File as a Data Frame</a>

---

The `read.table` function imports data from file into R as a data frame.

Usage: `read.table(file, header = TRUE, sep = ",")`

-   `file` is the file path and name of the file you want to import into
    R.
    -   If you don’t know the file path, set `file = file.choose()` will
        bring up a dialog box asking you to locate the file you want to
        import.
-   `header` specifies whether the data file has a header (variable
    labels for each column of data in the first row of the data file).
    -   If you don’t specify this option in R or use `header = FALSE`,
        then R will assume the file doesn’t have any headings.
    -   `header = TRUE` tells R to read in the data as a data frame with
        column names taken from the first row of the data file.
-   `sep` specifies the delimiter separating elements in the file.
    -   If each column of data in the file is separated by a space, then
        use `sep = " "`
    -   If each column of data in the file is separated by a comma, then
        use `sep = ","`
    -   If each column of data in the file is separated by a tab, then
        use `sep = "\t"`.

Here is an example reading a csv (comma separated file) with a header:

In [ ]:
# import data as data frame
bike.store <- read.table(file = "https://raw.githubusercontent.com/CU-Denver-MathStats-OER/Statistical-Theory/main/Data/Transactions.csv ",
                  header = TRUE,  # Keep column headers as names
                  sep = ",")  # comma as separator of columns

glimpse(bike.store)

Rows: 20,000
Columns: 13
$ transaction_id          <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,…
$ product_id              <int> 2, 3, 37, 88, 78, 25, 22, 15, 67, 12, 5, 61, 3…
$ customer_id             <int> 2950, 3120, 402, 3135, 787, 2339, 1542, 2459, …
$ transaction_date        <chr> "25-02-2017", "21-05-2017", "16-10-2017", "31-…
$ online_order            <lgl> FALSE, TRUE, FALSE, FALSE, TRUE, TRUE, TRUE, F…
$ order_status            <chr> "Approved", "Approved", "Approved", "Approved"…
$ brand                   <chr> "Solex", "Trek Bicycles", "OHM Cycles", "Norco…
$ product_line            <chr> "Standard", "Standard", "Standard", "Standard"…
$ product_class           <chr> "medium", "medium", "low", "medium", "medium",…
$ product_size            <chr> "medium", "large", "medium", "medium", "large"…
$ list_price              <dbl> 71.49, 2091.47, 1793.43, 1198.46, 1765.30, 153…
$ standard_cost           <dbl> 53.62, 388.92, 248.82, 381.10, 709.48, 829.65,…
$ product_first_sold_date <int> 41245, 41701, 36361, 36145, 42226, 39031, 3416…

-   The `glimpse()` function provides a nice summary of the structure.
-   Run the code cell below to see the various options of
    `read.table()`.
-   There are other functions and packages that may be better at reading
    in tabular data. `read.table()` is a good place to start!

In [ ]:
?read.table

# <a name="logical">Logical Statements</a>
---

Sometimes we need to know if the elements of an object satisfy certain
conditions. This can be determined using the logical operators `<`,
`<=`, `>`, `>=`, `==`, `!=`.

-   `==` means equal to.
-   `!=` means NOT equal to.

Execute the following commands in R and see what you get.

In [ ]:
a <- seq(2, 16, by = 2) # creating the vector a
a
a > 10
a <= 4
a == 10
a != 10

## <a name="and-or">And and Or Statements</a>
---

More complicated logical statements can be made using `&` and `|`.

-   `&` means “and”
    -   Both statements must be true for `state1 & state2` to return
        `TRUE`.
-   `|` means “or”
    -   Only one of the the two statements must be true for
        `state1 | state2` to return `TRUE`.
    -   If both statements are true in an “or” statement, the statement is also `TRUE`.

Below is a summary of “and” and “or” logic:

-   `TRUE & TRUE` returns `TRUE`
-   `FALSE & TRUE` returns `FALSE`
-   `FALSE & FALSE` returns `FALSE`
-   `TRUE | TRUE` returns `TRUE`
-   `FALSE | TRUE` returns `TRUE`
-   `FALSE | FALSE` returns `FALSE`

In [ ]:
# relationship between logicals & (and), | (or)
TRUE & TRUE
FALSE & TRUE
FALSE & FALSE
TRUE | TRUE
FALSE | TRUE
FALSE | FALSE

[1] TRUE

[1] FALSE

[1] FALSE

[1] TRUE

[1] TRUE

[1] FALSE

Execute the following commands in R and see what you get.

In [ ]:
b <- 3  # b is equal to the number 3

# complex logical statements
(b > 6) & (b <= 10)  # FALSE and TRUE
(b <= 4) | (b >= 12)  # TRUE or FALSE

[1] FALSE

[1] TRUE

## <a name="logic-index">Logical Indexing</a>
---

We can use a logical statement as an index to extract certain entries from a vector or data frame. For example, if we want to to know the `product_id` (column 2), `brand` (column 7), `product_line` (column 8), and `list_price` (column 11) of all transactions that have a `list_price` greater than \$2,090, we can run the code cell below.

-   We use a logical index for the row to extract just the rows that have a `list_price` value strictly greater than 2090.
-   We indicate we want to keep just columns 2, 7 through 8, and 11 with the column index `c(2, 7:8, 11)`.
-   We store the results to a new data frame named `expensive`.
-   Finally, we print the first 6 rows of our new data frame with the `head()` function to check the results.

In [ ]:
expensive <- bike.store[bike.store$list_price > 2090, c(2, 7:8, 11)]
head(expensive)

    product_id brand         product_line list_price
2    3         Trek Bicycles Standard     2091.47
16   3         Trek Bicycles Standard     2091.47
69  38         Trek Bicycles Standard     2091.47
154  3         Trek Bicycles Standard     2091.47
165  3         Trek Bicycles Standard     2091.47
188  3         Trek Bicycles Standard     2091.47

# <a name="cc">Creative Commons License Information</a>
---

<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br /><span
xmlns:dct="http://purl.org/dc/terms/" property="dct:title">*Inquiry
Oriented Statistics*</font> by
<a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/CU-Denver-MathStats-OER/Statistical-Theory" property="cc:attributionName" rel="cc:attributionURL">Adam
Spiegler</a> is licensed under a
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative
Commons Attribution-NonCommercial-ShareAlike 4.0 International
License</a>.